.city-selector {

    &__input {
        margin-left: auto;
        margin-right: auto;
    }

    &__city-list {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;

    }
    
    
}

.input {
    display: block;
    width: 500px;
    height: 50px;
    margin-top: 56px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #D4E5AF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    outline:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.city-list {
    width: 500px;
    max-height: 800px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #D4E5AF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    outline:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    li {
        padding: 20px;
        border-bottom: 1px solid #D4E5AF;
        cursor: pointer;
        list-style-type: none;

        &:hover {
            color:#D4E5AF;
        }
        
    } 
    
}